<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/carrito.css">
  <link href="https://fonts.googleapis.com/css2?family=Klee+One&family=Roboto&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
  <title>Document</title>
</head>
<body>
  <header>
    <div class="contenedor_iconos">
      <a href="/register"><img src="/img/icono-tabla.svg" class="iconos" alt="login"></a>
      <a href="/carrito"><img src="/img/carritocompra.svg" class="iconos" alt="login"></a>
      <a href="/login"><img src="/img/icono-manito.svg" class="iconos" alt="login"></a>
      <a href="#Donde estamos"><img src="/img/icono-furgoneta.svg" class="iconos" alt="login"></a>
      <a href="#Donde Surfar"><img src="/img/icono-surfer.svg" class="iconos" alt="login"></a>
    </div>
  </header>
  <h2>CARRITO DE COMPRA</h2>
  <section class="contenedor">
    <div class="contenedor-items">
      <div class="item-1">
        <div class="item-contenedor">
          <div class="img-container" href="/views/products/">
            <img src="/img/tote-bag.jpg" alt="" class="img-item">
          </div>
          <div class="texto-contenedor">
            <h3>TOTEBAG-SEAGULL</h3>
            <h4>Resumen del pedido</h4>
            <div class="texto-bajo">
              <div class="texto-izquierda">
                <span>Productos (1 item)</span>
                <span>Descuentos</span>
                <span>Envio</span>
              </div>
              <div class="texto-derecha">
                <span>$1200 ARS</span>
                <span>0</span>
                <span>Gratis</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="espaciador">
    </div>
    <div class="contenedor-items">
      <div class="item-1">
        <div class="item-contenedor">
          <div class="img-container">
            <img src="/img/funda-celular.jpg" alt="" class="img-item-2">
          </div>
          <div class="texto-contenedor">
            <h3>FUNDA SEAGULL</h3>
            <h4>Resumen del pedido</h4>
            <div class="texto-bajo">
              <div class="texto-izquierda">
                <span>Productos (1 item)</span>
                <span>Descuentos</span>
                <span>Envio</span>
              </div>
              <div class="texto-derecha">
                <span>$1200 ARS</span>
                <span>0</span>
                <span>Gratis</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="precio-total">
      <p>TOTAL</p>
      <p>$2.200 ARS</p>
    </div>
    <div class="contenedor-input">
      <div class="input-like">
        CONFIRMAR COMPRA
      </div>
    </div>
  </footer>
</body>
</html>