<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEAGULL Project</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <header>
        <div class="container-fluid">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
            <img class="logo" src="/public/img/loguito.svg">
        </div>
    </header>
    <p>Hola Chicos!</p>
</body>

</html>