<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a43628da3e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/index.css">
    <link href="./CSS/footer.css" rel="stylesheet">
    <link href="../CSS/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>SEAGULL Project</title>
</head>

<body>
  <header class="inicio">
    <div></div>
      <img src="/img/loguito.svg" class="logo" alt="">
    </div>
    <!--- Código Caro-->
    <div class="iconitos">
      <a href="#Creá tu cuenta"><img src="/img/icono-tabla.svg" class="iconoheader" alt="login"></a>
      <a href="#Mis Compras"><img src="/img/carritocompra.svg" class="iconoheader" alt="login"></a>
      <a href="#Mis Compras"><img src="/img/icono-manito.svg" class="iconoheader" alt="login"></a>
      <a href="#Donde estamos"><img src="/img/icono-furgoneta.svg" class="iconoheader" alt="login"></a>
      <a href="#Donde Surfar"><img src="/img/icono-surfer.svg" class="iconoheader" alt="login"></a>
    </div>
  </header>

    </div>
    <div class="cuadro">
      <h2 class="text-center"> ¿En donde te encuentras?</h2>
    
    <form class="d-flex mt-5 mx-auto" role="search">
      <input class="form-control me-2" type="search" placeholder="En cualquier lugar del mundo" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
</div>

  <div class="imagenes">

    <figure class="figure">
      <img src="/img/img-home-colombia.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
      <div class="text-center">
        <button type="button" class="btn btn-sm btn-primary" disabled> BRASIL </button>
      </div>
    </figure>
    <figure class="figure">
      <img src="/img/img-home-arg.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
      <div class="text-center">
        <button type="button" class="btn btn-sm btn-primary" disabled> ARGENTINA </button>
      </div>
    </figure>
    <figure class="figure">
      <img src="/img/img-home-arg.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
      <div class="text-center">
        <button type="button" class="btn btn-sm btn-primary" disabled> ARGENTINA </button>
      </div>
    </figure>
    
  </div>

  <div>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</main>
     
     <!--- Código Caro-->
    <footer class="finpagina">
        <section class="final">
            <a class="email" href="eagull@gmail.com">eagull@gmail.com</a>
            <div class="socialmedia">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            </div>
            <p>©Copyright Seagull. All rights reserved.</p>
        </section>
    
        <div class="sponsor">
            <img src="img/billabongtest.png" class="marca" alt="billabong">
            <img src="img/roxytest.png" class="marca" alt="roxy">
            <img src="img/quicksilvertest.png" class="marca" alt="quicksilver">
    
        </div>
    </footer>

    </body>
</html>