
header{
  background-color: #ccc;
}


.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  margin-top: -200px;
}

.item-contenedor {
  background-color: rgba(176, 222, 228, 0.40);
  border: 1px solid #ccc;
  padding: 10px;
  width: 40vw;
  display: flex;
  border-radius: 7px;
  height: 180px;
}

.img-container {
  width: 150px;
  height: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  
}

.img-item {
  width: 100%;
  height: auto;
 
}
.img-item-2 {
  width: 100%;
  height: 75%;
}

.texto-contenedor {
  display: flex;
  flex-direction: column;
  color: #5F6368;
  
}
.texto-bajo {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-family: 'Roboto Mono';
}
.texto-bajo .texto-izquierda{
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}
.texto-bajo .texto-derecha{
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
}
h3{
  color: #165A7A;
  font-family: 'Klee One';
}
h3, h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
h4{
  font-family: 'Roboto Mono';
}

h2{
 color: #137DB0;
 display: flex;
 justify-content: center;
 font-family: 'Klee One';

}
.espaciador{
  margin-top: 15px;
}
header {
  width: 100%;
  height: 7vh;
  background-image: url("../img/PlayaCaribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}

.contenedor_iconos {
  margin-left: 144vh;
}
