.inicio{
    background-image: url("/img/imgprin-home.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.8;
 
       }

.fondo{
    background-image: linear-gradient(black,white);
    background-repeat: no-repeat;
}


.logo {
    width: 30%;
    height: 30%;
    margin-left: 10%;
    }

.ubicacion{
    margin-top: 150px;
    border-top-color: #CC0000;
    border-right-color: blue;
    border-bottom-color: #00FF00;
    border-left-color: #CCC;
}

.cuadro{
    border: solid black;
    width: 40em;
    margin-left: 28em;
    margin-top: 3em;
}

.d-flex{
    width: 30em;
}

.imagenes{
    border: none;
    }

.figure {
     padding: 2%;
    max-width: 100%;
    justify-content: center;
}

.linkpais {
    border:#00FF00;
}
    

.iconitos {
    display: flex;
    justify-content: end;
    background-color: rgba(0,0,0, 0.1);
    
}

.iconoheader {
    width: 5vw;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 2%;
    }

    @media (min-width: 769px) {
        .imagenes {
            display: flex;
            justify-content: center;
        }
           }

    @media (min-width: 361px) {
        .imagenes {
            display: flex;
            justify-content: center;

        }
        
    }