* { box-sizing: border-box }

.iconitos {
    display: flex;
    justify-content: end;
    background-color: rgba(0,0,0, 0.2);
    width: 100%;
}

.iconoheader {
    width: 5vw;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 2%;
    }

    * {
        text-decoration: none;
      }
      
     body {
       background-image: url("/img/fondo_inicio_sesion.jpeg");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       position: relative;
       overflow: hidden;
       margin: 0;
     }
            
      
    
     
      .contenedor_iconos {
        margin-left: 144vh;
      }
      
      .iconos {
        width: 50px;
        height: 50px;
      }
      
      .contenedor_form {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: auto;
          
       
      }
      
      .div_form {
        background-color: white;
        width: 30vw;
        border-radius: 10px;
        border: 24px solid lightblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2%;
       }
      
      .form {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
      }
      
      .icono_form {
        width: 100px;
        height: 90px;
        margin-left: 35%;
      }
      
      .iniciosesion {
           font-size: 1rem;
           text-align: center;   
      }
      .input {
        margin: 2vw;
        width: 20vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

        @media (min-width: 769px) {
            .icono_form {
              width: 30%;
              height: 30%;
            }  
            .iniciosesion {
              font-size: 1rem
         } 
         .input {
          font-size: 1rem
         }
           
          }
      
          @media (min-width: 361px) {
            .icono_form {
              width: 30%;
              height: 30%;
          }
          .iniciosesion {
            font-size: 0.7rem;    
            }
            .input {
              font-size: 1rem
             }      
          }
        