* { box-sizing: border-box }

.iconitos {
    display: flex;
    justify-content: end;
    background-color: rgba(0,0,0, 0.2);
    width: 100%;
}

.iconoheader {
    width: 5vw;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 2%;
    }

    * {
        text-decoration: none;
      }
      
     body {
       background-image: url("/img/fondo_inicio_sesion.jpeg");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       position: relative;
       overflow: hidden;
       margin: 0;
     }
            
      
    
     
      .contenedor_iconos {
        margin-left: 144vh;
      }
      
      .iconos {
        width: 50px;
        height: 50px;
      }
      
      .contenedor_form {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: auto;
       
      }
      
      .div_form {
        background-color: white;
        height: 70vh;
        width: 50vw;
        border-radius: 10px;
        border: 24px solid lightblue;
        display: flex;
        justify-content: center;
        margin: auto;
        
             }
      
      .form {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        border: dashed red;
        
      }
      
      .icono_form {
        width: 100px;
        height: 90px;
        margin-left: 35%;
      }
      
      .nombre {
        margin-left: 4vw;
        width: 25vw;
        margin-bottom: 1vw;
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
             }
      
             