<footer class="finpagina">
    <div class="sponsor">
      <img src="\img\billabongtest2.png" class="marca" alt="billabong">
      <img src="\img\roxytest2.png" class="marca" alt="roxy">
      <img src="\img\quicksilvertest2.png" class="marca" alt="quicksilver">

  </div>
      <section class="final">
          <div class="socialmedia">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-whatsapp"></i>
          </div>
          <a class="email" href="seagull@gmail.com">seagull@gmail.com</a>
          <p>©Copyright Seagull. All rights reserved.</p>
      </section>
  

  </footer>

  </body>
</html>