<header class="inicio">
  <nav class="iconitos">
    <a href="/register"><img src="/img/icono-tabla.svg" class="iconoheader" alt="login"></a>
    <a href="/carrito"><img src="/img/carritocompra.svg" class="iconoheader" alt="login"></a>
    <a href="/login"><img src="/img/icono-manito.svg" class="iconoheader" alt="login"></a>
    <a href="#Donde estamos"><img src="/img/icono-furgoneta.svg" class="iconoheader" alt="login"></a>
    <a href="#Donde Surfar"><img src="/img/icono-surfer.svg" class="iconoheader" alt="login"></a>
  </nav>
 </header>