 <% include header.ejs %>
 <% include footer.ejs %>
 <% include head.ejs %>

<!-- Titulo de mi pagina -->
<body>
    <div class="container text-center">
        <h1>NUESTROS PRODUCTOS</h1>
    </div>
        
    <!-- La parte de la img a la izq -->
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 no-border text-center">
        <img src="/img/tote-bag.jpg" alt="Producto toteBag" width= 100%>
      </div>
      </div>
    <!-- El detallito-->
    <div class="col-6">
      <div class="p-3 no-border text-center">
            <h2>TOTEBAG - SEAGULL</h2>
            <hr>
    <!-- Info -->
            <dl class="row">
                <dt class="col-sm-3">$1.200</dt>
                <dd class="col-sm-9 text-end">3 CUOTAS SIN INTERÉS DE $400</dd>
            </dl>
            <hr>
        </div>
          <!-- Iconos medios de pago y compra -->
       <div class="iconos1" id="mediospago">
            <img src="/img/creditcard.svg" alt="icon creditcard"> <p> MEDIOS DE PAGO</p>
             <img src="/img/shipping.svg" alt="icon shipping"> <p> MEDIOS DE ENVIO</p>
        </div>
        <!-- Boton de compra -->
        <div class="boton de compra text-center"> 
            <button class="btn btn-primary" id="Miboton">AGREGAR AL CARRITO</button>
        </div>
             <hr>
        <div class="detalle del Producto">
            <figure class="text-center">
                <blockquote class="blockquote">
            <p class="parrafo-1">¿POR QUÉ USAR UNA TOTE-BAG ?</p>
            <p class="parrafo-2">Nuestras eco-bolsas de tela se pueden reusar, reutilizar infinidades de veces, eliminando así gran parte del plástico de uso diario en nuestras vidas.</p>
            <p class="parrafo-2"> Su pequeño tamaño y lo livianas que son facilitan su transporte sin olvidar que disponen de una agarradera para hacerlo  aún más fácilmente. Pueden lavarse en lavadora y son capaces de resistir hasta 10 Kg de peso.</p>
            <p class="parrafo-1"> DIMENSIONES</p>
            <p class="parrafo-2"> 30x40x10 </p>
                </blockquote>
          </div>
        </div>
</body>
</html>